<!-- <div class="content"> -->
<div class="mv4 login-container">

  <div class="f3 mb2">Login</div>
  <form ng-submit="$ctrl.login($ctrl.userLogin)">
    <div class="login-field">
      <input class="br2 mv1 login-input" type="email" placeholder="Email" ng-model="$ctrl.userLogin.email" required></input>
      <input class="br2 mv1 login-input" type="password" placeholder="Password" ng-model="$ctrl.userLogin.password" required></input>
    </div>
    <div class="red f6" ng-if="$ctrl.showLoginError">{{$ctrl.loginError}}</div>
    <div class="tr"><button class="br2 mv1 mr4" type="submit">Go</button></div>
  </form>

  <div class="mv4">or</div>
  <div class="f3 mb2">Create a new account</div>
  <form ng-submit="$ctrl.addUser($ctrl.newUser)">
    <div class="regis-name">
      <input class="br2 mv1 login-input" placeholder="First name" ng-model="$ctrl.newUser.first_name" required></input>
      <input class="br2 mv1 login-input" placeholder="Last name" ng-model="$ctrl.newUser.last_name" required></input>
    </div>
    <div><input class="br2 mv1 wide-input" type="email" placeholder="Email" ng-model="$ctrl.newUser.email" required></input></div>
    <div><input class="br2 mv1 wide-input" type="password" placeholder="Password" ng-model="$ctrl.newUser.password" required></input></div>

    <div class="mv2">Birthday:
      <select ng-model="$ctrl.newUser.month" required>
        <option value="Month" disabled>Month</option>
        <option ng-repeat="number in $ctrl.months" required>{{number}}</option>
      </select>
      <select ng-model="$ctrl.newUser.day">
        <option value="Day" disabled>Day</option>
        <option ng-repeat="number in $ctrl.days" required>{{number}}</option>
      </select>
      <select ng-model="$ctrl.newUser.year">
        <option value="Year" disabled>Year</option>
        <option ng-repeat="number in $ctrl.years" required>{{number}}</option>
      </select>
    </div>

    <div class="red f6" ng-if="$ctrl.showSignupError">{{$ctrl.signupError}}</div>

    <div class="mv3 tr"><button class="br2 mr3" type="submit">Create Account</button></div>
  </form>

</div>
<!-- </div> -->
