
<div class="sidebar tc bg-mid-gray lightest-blue">
  <div class="pt4 f4">
    <a ui-sref="profile({id: $ctrl.user.id})"><img class="br2 small-image" src="{{$ctrl.user.img}}"></a>
    <a class="lightest-blue" ui-sref="profile({id: $ctrl.user.id})">{{$ctrl.user.first_name}}</a>
  </div>
  <div class="pt4 f5">
    <a ui-sref="home" class="lightest-blue">Home</a>
  </div>
  <div class="pt3 f5">
    <a ng-click="$ctrl.logout()" class="lightest-blue">Logout</a>
  </div>
</div>
<!-- <sidebar></sidebar> -->

<div class="content">
<div class="container">

  <div class="mt5 mb4 mr3 tc f3"><a class="b black mh3" ng-click="$ctrl.showFollow = false">Everyone</a> | <a class="b black mh3" ng-click="$ctrl.showFollow = true">People You Follow</a></div>
  <div class="tc mr4 mb3">
    <input ng-model="$ctrl.search[$ctrl.searchBy]" class="br2" placeholder="Search people">
    <span>by: </span>
    <select ng-model="$ctrl.searchBy">
      <option value="full_name">Name</option>
      <option value="location">Location</option>
    </select>
  </div>
  <div ng-if="!$ctrl.showFollow" ng-repeat="person in $ctrl.people | filter: $ctrl.search">

    <a ui-sref="profile({id: person.id})"><img class="br2 small-image" src="{{person.img}}"></a>
    <span ng-if="person.id === $ctrl.user.id"> <a class="black" ui-sref="profile({id: person.id})">You</a></span>
    <span ng-if="person.id !== $ctrl.user.id">
      <a class="black b" ui-sref="profile({id: person.id})">{{person.first_name}} {{person.last_name}}</a>, {{person.age}}<span ng-if="person.location.length && person.status === 'blank'">, {{person.location}}</span><span ng-if="!person.location.length && person.status !== 'blank'">, {{person.status}}'</span><span ng-if="person.location.length && person.status !=='blank'">, {{person.status}}' in {{person.location}}</span>
      <span ng-if="!person.isFollow" class="f6 moon-gray"> <a class="light-anchor" ng-click="$ctrl.follow(person)">follow this person?</a></span>
      <span ng-if="person.isFollow" class="f6 moon-gray"><a class="light-anchor" ng-click="$ctrl.unfollow(person)">unfollow</a></span>
    </span>
  </div>

  <div ng-if="$ctrl.showFollow" ng-repeat="person in $ctrl.people | filter: {isFollow: true} | filter: $ctrl.search">
    <a ui-sref="profile({id: person.id})"><img class="br2 small-image" src="{{person.img}}"></a>
    <span ng-if="person.id === $ctrl.user.id"> <a class="black" ui-sref="profile({id: person.id})">You</a></span>
    <span ng-if="person.id !== $ctrl.user.id">
      <a class="black b" ui-sref="profile({id: person.id})">{{person.first_name}} {{person.last_name}}</a>, {{person.age}}<span ng-if="person.location.length && person.status === 'blank'">, {{person.location}}</span><span ng-if="!person.location.length && person.status !== 'blank'">, {{person.status}}'</span><span ng-if="person.location.length && person.status !=='blank'">, {{person.status}}' in {{person.location}}</span>
      <span ng-if="!person.isFollow" class="f6 moon-gray"> <a class="light-anchor" ng-click="$ctrl.follow(person)">follow this person?</a></span>
      <span ng-if="person.isFollow" class="f6 moon-gray"><a class="light-anchor" ng-click="$ctrl.unfollow(person)">unfollow</a></span>
    </span>
  </div>
</div>
</div>
