.header {
  height: 75px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  margin: auto;
}

.small-img {
  width: 45px;
  display: inline-block;
}

.post-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post-style {
  align-self: flex-end;
}
