.header {
  height: 75px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  margin: auto;
}

.form-container {
  width: 700px;
  margin: auto;
}

.profile-container {
  width: 950px;
  margin: auto;
}

.small-img {
  width: 45px;
  display: inline-block;
}

.post-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post-style {
  align-self: flex-end;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.new-photo {
  width: 300px;
  text-align: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.small-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
