ui-view {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.window {
  display: flex;
}

.header {
  height: 75px;
  width: 100%;
  flex: 0 0 auto;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 450px;
  position: fixed;
  z-index: 100;
}

.main {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  top: 75px;
  width: 100%;
  justify-content: center;
}

.sidebar {
  flex: 0 0 200px;
  position: fixed;
  height: 100%;
  width: 150px;
  padding-right: 10px;
}

.content {
  margin-left: 150px;
}

.title {
  display: inline-block;
  min-width: 500px;
  margin-left: 10px;
  margin-right: 50px;
}

.sub-header {
  width: 200px;
  min-width: 200px;
  display: inline-block;
}

.empty {
  width: 200px;
  /*min-width: 0;*/
}

.top {
  color: #CDECFF;
}

.top:hover {
  text-decoration: none;
}


.container {
  width: 600px;
  margin: auto;
}

.form-container {
  width: 700px;
  margin: auto;
}

.profile-container {
  /*width: 900px;*/
  margin: auto;
  display: flex;
  justify-content: center;
}

.write-container {
  width: 645px;
  margin: auto;
}

.login-container {
  width: 400px;
  margin: auto;
  /*text-align: center;*/
}

.small-img {
  width: 45px;
  display: inline-block;
}

.post-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post-style {
  align-self: flex-end;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.new-photo {
  width: 300px;
  text-align: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.small-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.checkbox-field {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  max-width: 100%;
}

.checkbox {
  width: 215px;
}

.bio {
  width: 300px;
}

.light-anchor:hover {
  color: #555555;
}

.people-search {
  width: 150px;
}

.post-image {
  max-width: 550px;
  max-height: 462px;
  object-fit: contain;
  border-radius: .25rem;
}

.image-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carousel-tools {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.image-btn {
  align-self: center;
}

.carousel-counter {
  width: 50px;
  align-self: flex-start;
}

.blank-counter {
  width: 52px;
}

.login-input {
  width: 183px;
}

.wide-input {
  width: 382px;
}

.nav-link:hover {
  text-decoration: none;
  background-color: #555555;
}

.side-link:hover {
  text-decoration: none;
  background-color: #777777;
}

.side-name {
  display: flex;
  align-items: center;
}

.name-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-left {
  height: 100%;
  display: inline-block;
}

.left-content {
  width: 350px;
}

.profile-content {
  display: inline-block;
}
