<div class="sidebar tc bg-mid-gray lightest-blue">
<div class="name-container">
  <div class="pt4 f4 side-name">
    <a ui-sref="profile({id: $ctrl.user.id})" class="lightest-blue side-link pa2 br2">
      <img class="br2 small-image" src="{{$ctrl.user.img}}">
      {{$ctrl.user.first_name}}
    </a>
  </div>
</div>
  <div class="pt4 f5">
    <a ui-sref="people" class="lightest-blue side-link br2 pa2">People</a>
  </div>
  <div class="pt3 f5">
    <a ng-click="$ctrl.logout()" class="lightest-blue side-link br2 pa2">Logout</a>
  </div>
</div>
<!-- <sidebar></sidebar> -->

<div class="content">
  <div class="container mt3 mb4">
    <div class="f3 ml3 b">Home Feed</div>
    <div class="ml3 mv2">
      <input class="br2" placeholder="Search posts" ng-model="$ctrl.search[$ctrl.searchBy]">
      <span>by: </span>
      <select ng-model="$ctrl.searchBy">
      <option value="full_name">Person</option>
      <option value="post_location">Place</option>
      <option value="types">Type of travel</option>
    </select>
      <button class="ml5" ui-sref="write">Write new post</button>
    </div>

    <div class="ba br2 b--light-gray ma2" ng-repeat="post in $ctrl.feed | orderBy: 'created_at' : true | filter: $ctrl.search"
      ng-mouseover="$ctrl.showDelete(post)" ng-mouseleave="$ctrl.noDelete(post)">
      <div class="pa2 ph3-ns pb3-ns">
        <div class="dt w-100 mt1">
          <div class="post-head">
            <div class="f5 mv0 mid-gray dib">
              <div class="small-img dib">
                <a ui-sref="profile({id: post.user_id})"><img class="br2 small-image" src="{{post.img}}"></a>
              </div>

              <div class="dib">
                <a ui-sref="profile({id: post.user_id})" class="mid-gray">{{post.first_name}} {{post.last_name}}</a>

                <div class="f6 mid-gray">posted <span am-time-ago="post.created_at"></span></div>
              </div>

            </div>
            <div class="b tr dib post-style">
              <div class="mb1">
                <span ng-if="$ctrl.user.id === post.user_id && post.showDelete" class="f6 normal moon-gray">
                  <a class="light-anchor" ng-click="$ctrl.deletePost(post)">delete post</a>
                </span>
              </div>

              <span ng-pluralize count="post.styles.length" when="{'0': '',
                    '1': '{{post.styles[0].name}}',
                    '2': '{{post.styles[0].name}}, {{post.styles[1].name}}',
                    '3': '{{post.styles[0].name}}, {{post.styles[1].name}}, {{post.styles[2].name}}'}"></span>
            </div>
          </div>

          <div class="mt3">
            <h1 class="f4 mv0">{{post.post_location}}</h1>
          </div>
        </div>
        <p class="f6 lh-copy mt2">
          {{post.content}}
        </p>


        <div class="mb3 tc image-container" ng-if="post.images.length">
          <div><img class="br2 post-image" data-id={{post.post_id}} src="{{post.images[post.imagePointer].url}}"></div>
          <div ng-if="post.images.length > 1" class="carousel-tools">
            <div class="blank-counter white"></div>
            <div class="image-btn">
              <button class="gray" ng-click="$ctrl.imageLeft(post)"><</button>
              <button class="gray" ng-click="$ctrl.imageRight(post)">></button>
            </div>
            <div class="carousel-counter f7 moon-gray mr2">({{post.imageCounter}} of {{post.images.length}})</div>
          </div>
        </div>

        <div class="f7 mv3 " ng-if="post.comments.length && !post.showComments">
          <a class="b gray" ng-click="$ctrl.toggleComments(post)" ng-pluralize count="post.comments.length"
            when="{'1': 'view {{post.comments.length}} comment',
                  'other': 'view {{post.comments.length}} comments'}">
          </a>
        </div>

        <div class="f7 mv3 " ng-if="post.comments.length && post.showComments">
          <a class="b gray" ng-click="$ctrl.toggleComments(post)" ng-pluralize count="post.comments.length"
            when="{'1': 'hide {{post.comments.length}} comment',
                  'other': 'hide {{post.comments.length}} comments'}">
          </a>
        </div>


        <div class="f6 mb2" ng-if="post.showComments" ng-repeat="comment in post.comments">
          <div ng-mouseover="$ctrl.showDelete(comment)" ng-mouseleave="$ctrl.noDelete(comment)">
            <a ui-sref="profile({id: comment.user_id})" class="b black">{{comment.first_name}} {{comment.last_name}}</a> {{comment.content}}
            <div ng-if="$ctrl.user.id === comment.user_id && comment.showDelete" class="ml2">
              <a class="f6 moon-gray light-anchor" ng-click="$ctrl.deleteComment(comment)">delete comment</a>
            </div>
          </div>
        </div>
        <form ng-submit="$ctrl.postComment(post)">
          <input class="f6 br2 mt1 w-40" placeholder="add a comment" ng-model="post.commentInput"></input>
        </form>
      </div>
    </div>
  </div>
</div>
