
<div class="sidebar f4 bg-mid-gray lightest-blue">
  <div class="pt4">
    <a ui-sref="profile({id: $ctrl.user.id})"><img class="br2 small-image" src="{{$ctrl.user.img}}"></a>
    <a class="lightest-blue" ui-sref="profile({id: $ctrl.user.id})">{{$ctrl.user.first_name}}</a>
  </div>
  <div class="pt4">
    <a ui-sref="people" class="lightest-blue">People</a>
  </div>
  <div class="pt3">
    <a ng-click="$ctrl.logout()" class="lightest-blue">Logout</a>
  </div>
</div>
<!-- <sidebar></sidebar> -->

<div class="content">
<div class="container mt3 mb4">
  <div class="f3 ml4">Home Feed</div>
  <div class="ml3 mv2">
    <input class="br2" placeholder="Search posts" ng-model="$ctrl.search[$ctrl.searchBy]">
    <span>by: </span>
    <select ng-model="$ctrl.searchBy">
      <option value="full_name">Person</option>
      <option value="post_location">Place</option>
      <option value="types">Type of travel</option>
    </select>
    <button class="ml5" ui-sref="write">Write new post</button>
  </div>

  <div class="ba br2 b--light-gray ma2" ng-repeat="post in $ctrl.feed | orderBy: 'created_at' : true | filter: $ctrl.search">
    <div class="pa2 ph3-ns pb3-ns">
      <div class="dt w-100 mt1">
        <div class="post-head">
          <div class="f5 mv0 mid-gray dib">
            <div class="small-img dib">
              <a ui-sref="profile({id: post.user_id})"><img class="br2 small-image" src="{{post.img}}"></a>
            </div>

            <div class="dib">
            <a ui-sref="profile({id: post.user_id})" class="mid-gray">{{post.first_name}} {{post.last_name}}</a>

              <div class="f6 mid-gray">posted <span am-time-ago="post.created_at"></span></div>
            </div>

          </div>
          <div class="b tr dib post-style">
            <div class="mb2">
              <span ng-if="$ctrl.user.id === post.user_id" class="f6 normal moon-gray">
                <a class="light-anchor" ng-click="$ctrl.deletePost(post)">delete post</a>
              </span>
            </div>

            <span ng-pluralize count="post.styles.length"
            when="{'0': '',
                    '1': '{{post.styles[0].name}}',
                    '2': '{{post.styles[0].name}}, {{post.styles[1].name}}',
                    '3': '{{post.styles[0].name}}, {{post.styles[1].name}}, {{post.styles[2].name}}'}"></span>
          </div>
        </div>

        <div class="mt3">
          <h1 class="f4 mv0">{{post.post_location}}</h1>
        </div>
      </div>
      <p class="f6 lh-copy mt2">
        {{post.content}}
      </p>
      <div class="mb3" ng-if="post.images.length">
        <img class="br2 center" src="{{post.images[0].url}}">

      </div>
      <div class="f6 mv3 mid-gray" ng-if="post.comments.length">
        <a ng-click="$ctrl.toggleComments(post)" ng-pluralize count="post.comments.length"
          when="{'0': 'No comments yet',
                  '1': '{{post.comments.length}} comment',
                  'other': '{{post.comments.length}} comments'}"></a>
      </div>
      <div class="f6 mb2" ng-if="post.showComments" ng-repeat="comment in post.comments">
        <div ng-mouseover="$ctrl.showDelete(comment)" ng-mouseleave="$ctrl.noDelete(comment)">
          <a ui-sref="profile({id: comment.user_id})" class="b black">{{comment.first_name}} {{comment.last_name}}</a> {{comment.content}}
          <div ng-if="$ctrl.user.id === comment.user_id && comment.showDelete" class="ml2">
            <a class="f6 moon-gray light-anchor" ng-click="$ctrl.deleteComment(comment)">delete comment</a>
          </div>
        </div>
      </div>
      <form ng-submit="$ctrl.postComment(post)">
        <input class="f6 br2 mt1 w-40" placeholder="add a comment" ng-model="post.commentInput"></input>
      </form>
    </div>
  </div>
</div>
</div>
