<div class="form-container">
  <h1>Edit Your Profile</h1>

  <form class="b" >
    <div class="fl w-50 center">
      <img class="br2 profile-image" src="{{$ctrl.user.img}}">
      <div class="new-photo"><a ng-click="$ctrl.toggleShowInput()">Add a new photo?</a></div>
      <div class="new-photo" ng-if="$ctrl.showInput">

        <input class="br2 ml4 mt3" type="file" fileupload="$ctrl.uploadFile">

      </div>
    </div>
    <div class="fl w-50">
      <div class="ml1 mv3">
        <label for="first_name">First Name: </label>
        <input class="br2" type="text" id="first_name" ng-model="$ctrl.user.first_name">
      </div>

      <div class="ml1 mv3">
        <label for="last_name">Last Name: </label>
        <input class="br2" type="text" id="last_name" ng-model="$ctrl.user.last_name">
      </div>

      <div class="ml1 mv3">
        <label for="email">Email address: </label>
        <input class="br2" type="text" id="email" ng-model="$ctrl.user.email">
      </div>
      <div ng-if="$ctrl.showEditError" class="red f6 ml4">{{$ctrl.editError}}</div>

      <div class="ml1 mv3">
        <label for="password">New Password: </label>
        <input class="br2" type="password" ng-model="$ctrl.user.password">
        <div class="normal f6">(leave blank to keep old password)</div>
      </div>

      <div class="ml1 mv3">Birthday:
        <select ng-model="$ctrl.user.month">
          <option value="Month" disabled>Month</option>
          <option ng-repeat="number in $ctrl.months" required>{{number}}</option>
        </select>
        <select ng-model="$ctrl.user.day">
          <option value="Day" disabled>Day</option>
          <option ng-repeat="number in $ctrl.days" required>{{number}}</option>
        </select>
        <select ng-model="$ctrl.user.year">
          <option value="Year" disabled>Year</option>
          <option ng-repeat="number in $ctrl.years" required>{{number}}</option>
        </select>
      </div>

      <div class="ml1 mv3">
        <label for="location">Current location: </label>
        <input class="br2" type="text" id="location" ng-model="$ctrl.user.location">
      </div>

      <div class="ml1 mv3">
        <div class="mb2">Are you traveling right now?</div>
        <select ng-model="$ctrl.user.status">
          <option value="blank">(leave status blank)</option>
          <option value="trippin">Yeah, I'm straight trippin'</option>
          <option value="chillin">Nah, I'm just chillin'</option>
        </select>
      </div>

      <div class="ml1 mv3">
        <label for="bio" class="mb2">About me:</label>
        <textarea class="br2 b--light-silver" id="bio" ng-model="$ctrl.user.bio" type="text" rows="5" cols="40" placeholder="Tell us about yourself and how you like to take trips...">
      </textarea>
      </div>



      <div class="mt3 mb4 ml4">
        <button class="br2" type="submit" ng-click="$ctrl.updateUser($ctrl.user)">Save Changes</button>
      </div>

    </div>
  </form>
</div>
