

<div class="profile-container mt4 ml4">
  <div class="profile-left">
    <div class="left-content">
    <img class="br2 profile-image" src="{{$ctrl.profile.img}}">
    <div class="f4 b">{{$ctrl.profile.first_name}} {{$ctrl.profile.last_name}}, {{$ctrl.profile.age}}</div>
    <div>{{$ctrl.profile.location}}</div>
    <div ng-if="$ctrl.profile.status === 'chillin'">Just chillin'</div>
    <div ng-if="$ctrl.profile.status === 'trippin'">Straight trippin'</div>
    <div class="mt3 bio" ng-if="$ctrl.profile.bio.length">
      <div class="b">About me: </div>
      <div>{{$ctrl.profile.bio}}</div>
    </div>
    <div class="mt3" ng-if="$ctrl.profile.id === $ctrl.user.id">
      <a ui-sref="edit" class="f6 mid-gray">Edit your profile</a>
    </div>
  </div>
  </div>


  <!-- POSTS -->
  <div class="profile-content">
  <div class="container mb4">
    <div class="f4 b ma2" ng-if="!$ctrl.posts.length && $ctrl.profile.id === $ctrl.user.id">You don't have any posts. Add some from the homepage.</div>
    <div class="f4 b ma2" ng-if="!$ctrl.posts.length && $ctrl.profile.id !== $ctrl.user.id">This user doesn't have any posts.</div>

    <div class="ba br2 b--light-gray ma2" ng-repeat="post in $ctrl.posts | orderBy: 'created_at' : true"
      ng-mouseover="$ctrl.showDelete(post)" ng-mouseleave="$ctrl.noDelete(post)">
      <div class="pa2 ph3-ns pb3-ns">
        <div class="dt w-100 mt1">
          <div class="post-head">
            <div class="f5 mv0 mid-gray dib">
              <div class="small-img dib">
                <a ui-sref="profile({id: post.user_id})"><img class="br2 small-image" src="{{post.img}}"></a>
              </div>

              <div class="dib">
              <a ui-sref="profile({id: post.user_id})" class="mid-gray">{{post.first_name}} {{post.last_name}}</a>

                <div class="f6">posted <span am-time-ago="post.created_at"></span></div>
              </div>

            </div>
            <div class="b tr dib post-style">
              <div class="mb1">
                <span ng-if="$ctrl.user.id === post.user_id && post.showDelete" class="f6 normal moon-gray">
                  <a ng-click="$ctrl.deletePost(post)" class="light-anchor">delete post</a>
                </span>
              </div>
              <span ng-pluralize count="post.styles.length"
              when="{'0': '',
                      '1': '{{post.styles[0].name}}',
                      '2': '{{post.styles[0].name}}, {{post.styles[1].name}}',
                      '3': '{{post.styles[0].name}}, {{post.styles[1].name}}, {{post.styles[2].name}}'}"></span>
            </div>
          </div>

          <div class="mt3">
            <h1 class="f4 mv0">{{post.post_location}}</h1>
          </div>
        </div>
        <p class="f6 lh-copy mt2">
          {{post.content}}
        </p>


        <div class="mb3 tc image-container" ng-if="post.images.length">
          <div><img class="br2 post-image" data-id={{post.post_id}} ng-src="{{post.images[post.imagePointer].url}}"></div>
          <div ng-if="post.images.length > 1" class="carousel-tools">
            <div class="blank-counter white"></div>
            <div class="image-btn">
              <button class="gray" ng-click="$ctrl.imageLeft(post)"><</button>
              <button class="gray" ng-click="$ctrl.imageRight(post)">></button>
            </div>
            <div class="carousel-counter f7 moon-gray mr2">({{post.imageCounter}} of {{post.images.length}})</div>
          </div>
        </div>

        <div class="f7 mv3 " ng-if="post.comments.length && !post.showComments">
          <a class="b gray" ng-click="$ctrl.toggleComments(post)" ng-pluralize count="post.comments.length"
            when="{'1': 'view {{post.comments.length}} comment',
                  'other': 'view {{post.comments.length}} comments'}">
          </a>
        </div>

        <div class="f7 mv3 " ng-if="post.comments.length && post.showComments">
          <a class="b gray" ng-click="$ctrl.toggleComments(post)" ng-pluralize count="post.comments.length"
            when="{'1': 'hide {{post.comments.length}} comment',
                  'other': 'hide {{post.comments.length}} comments'}">
          </a>
        </div>


        <div class="f6 mb2" ng-if="post.showComments" ng-repeat="comment in post.comments">
          <div ng-mouseover="$ctrl.showDelete(comment)" ng-mouseleave="$ctrl.noDelete(comment)">
            <a ui-sref="profile({id: comment.user_id})" class="b black">{{comment.first_name}} {{comment.last_name}}</a> {{comment.content}}
            <div ng-if="$ctrl.user.id === comment.user_id && comment.showDelete" class="ml2">
              <a class="f6 moon-gray light-anchor" ng-click="$ctrl.deleteComment(comment)">delete comment</a>
            </div>
          </div>
        </div>

        <form ng-submit="$ctrl.postComment(post)">
          <input class="f6 br2 mt1 w-40" placeholder="add a comment" ng-model="post.commentInput"></input>
        </form>
      </div>
    </div>

  </div>
  </div>
</div>
