<div class="header bg-dark-gray lightest-blue f1 i">Straight Trippin'</div>
<div>Toolbar:
  <a class="black" ng-click="$ctrl.logout()" ng-if="$ctrl.loginService.user.loggedIn">Logout</a>
  <a class="black" ui-sref="home" ng-if="$ctrl.loginService.user.loggedIn">home</a>
  <a class="black" ui-sref="edit" ng-if="$ctrl.loginService.user.loggedIn">edit</a>
  <a class="black" ui-sref="welcome" ng-if="!$ctrl.loginService.user.loggedIn">welcome</a>
  <a class="black" ui-sref="profile({id: $ctrl.loginService.user.id})" ng-if="$ctrl.loginService.user.loggedIn">profile</a>
</div>

<ui-view></ui-view>
